<h1>Projects#index</h1>

<% @projs.each do |project| %>
  <p> Id: <%= project.id %> </p>
  <p> Title: <%= project.title %> </p>
  <p> Description: <%= project.description %> </p>
  <p> DeadLine: <%= project.deadline %> </p>
<% end %>
